@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "View_Page";
    Layout = "_Layout";
}

<div class="version_container">
    <div class="version_entries">
        @foreach(var i in Model.MyversionList)
        {
            <div class="version_entry">
                <div class="version_title">@i.version_num</div>
                <div class="version_date">@i.release_date.ToString("yyyy-MM-dd")</div>
                <div class="version_body">
                    <p>@i.message</p>
                </div>
            </div>
        }
    </div>
</div>

