@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "Req_Category_List";
    Layout = "_Layout";
}

<style>
    .inc-tab-incidents-table th.name-column {
        width: 40%;
    }

    .inc-tab-incidents-table th.version-column {
        width: 60%;
    }
</style>

<div class="inc-tab-container">
    <header>
        <div class="inc-tab-header-left">
            <button class="inc-tab-icon-button">
                <i class="fas fa-list"></i>
            </button>
            <h2 class="all-title-header-front">Request Categories</h2>
        </div>
        <div class="inc-tab-header-right">
            <button class="inc-tab-icon-button" id="refreshButton">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="inc-cre-btn inc-cre-btn-icon" onclick="window.open('/Info/All_List_Info', '_blank')">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
            </button>
            <button class="inc-tab-new-button" onclick="window.location.href='/Category/Req_Category_Create';">New</button>

        </div>
    </header>

    <div class="inc-tab-table-container">
        <table class="inc-tab-incidents-table">
            <thead>
                <tr>
                    <th class="inc-tab-sortable name-column">Name</th>
                    <th class="inc-tab-sortable version-column">ERP Version</th>
                </tr>
            </thead>
            <tbody id="incTableBody">

                @foreach (var i in Model.reqCategoryList)
                {
                    <tr class="incident-item" data-id="@i.id">
                        <td class="inc-tab-incident-number" data-label="Name">
                            <a href="~/Category/Req_Category_Info?id=@i.id">@i.name</a>
                        </td>
                        <td data-label="erp_version">@i.erp_version</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="inc-tab-pagination">
        <button class="inc-tab-pagination-button" id="firstPageBtn" disabled><i class="fas fa-angle-double-left"></i></button>
        <button class="inc-tab-pagination-button" id="prevPageBtn" disabled><i class="fas fa-angle-left"></i></button>
        <span class="inc-tab-pagination-info" id="paginationInfo">-</span>
        <button class="inc-tab-pagination-button" id="nextPageBtn"><i class="fas fa-angle-right"></i></button>
        <button class="inc-tab-pagination-button" id="lastPageBtn"><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/List/Category_List.js"></script>
<script>
      $(function () {
        var $target = $('#req_category_menu');
        if (!$target.hasClass('active') || !$target.hasClass('open')) {
            $('.menu-item').removeClass('active open');
            $target.addClass('active open');
        }

        $('#req_category_menu_all').addClass("active");
    });
</script>

