
@{
    ViewData["Title"] = "User_Password_Info";
    Layout = "_Layout_Info";
}

<header class="artic-word-header">
    <p class="artic-word-title"><i class="fa-solid fa-book"></i> ITSM User Password</p>
</header>
<div class="artic-word-scroll-indicator"></div>
<main class="artic-word-main">
    <h2 class="artic-word-heading">Password Setup and Management</h2>
    <p>
        During system usage, the password is a key element in securing your account. 
        To ensure account security, please follow the requirements and recommendations below:
    </p>
    <hr />
    <h3>Password Requirements</h3>
    <ul>
        <li><strong>Minimum of 6 characters:</strong> To ensure basic security, your password must be at least 6 characters long.</li>
        <li><strong>Use a combination of letters, numbers, and symbols:</strong> Mixing letters, numbers, and symbols (such as !#$%&) 
            significantly enhances password strength and helps prevent brute-force attacks.</li>
    </ul>
    <hr />
    <h3>Password Management</h3>
    <ul>
        <li><strong>Do not share your password:</strong> The password is the first line of defense for your account. 
            Please do not share it with others.</li>
        <li><strong>Special circumstances:</strong> If you encounter issues that require IT assistance, 
            you may decide to temporarily share your password or allow IT staff to assist with a reset. 
            Once the issue is resolved, it is recommended that you immediately change your password to maintain security.</li>
    </ul>
    <hr />
    <h3>Friendly Reminders</h3>
    <ul>
        <li>Regularly change your password to help prevent account compromise.</li>
        <li>Avoid using the same password across different systems or websites to reduce security risks.</li>
        <li>If you suspect that your password has been compromised or notice unusual account activity, 
            please contact the IT department immediately.</li>
    </ul>
</main>
<div class="scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</div>

